<form action="#" class="container" [formGroup]="form">
  <h2 class="form-title">Product information</h2>
  <div class="form-input-container">
    <label class="form-label">Name</label>
    <input appFormInput type="text" class="form-input" formControlName="name">
    <p class="form-hint" *ngIf="formControl('name')?.errors?.['required'] && formControl('name')?.touched">Required field</p>
  </div>
  <div class="form-input-container">
    <label class="form-label">Price</label>
    <input appFormInput [numberOnly]="true" type="number" class="form-input" formControlName="price">
    <p class="form-hint" *ngIf="formControl('price')?.errors?.['required'] && formControl('price')?.touched">Required field</p>
    <p class="form-hint" *ngIf="formControl('price')?.errors?.['min'] && formControl('price')?.touched">Minimal price is 0</p>
  </div>
  <div class="form-input-container">
    <label class="form-label">Description</label>
    <input appFormInput type="text" class="form-input" formControlName="description">
  </div>
  <div class="form-input-container">
    <label class="form-label">Store</label>
    <select class="form-select" formControlName="store">
      <option class="form-select-option" [value]="store.id" *ngFor="let store of storeList">{{ store.name }}</option>
    </select>
    <p class="form-hint" *ngIf="formControl('store')?.errors?.['required'] && formControl('store')?.touched">Required field</p>
  </div>
  <div class="buttons-container">
    <button class="secondary-button " routerLink="/products">Cancel</button>
    <button class="accent-button" (click)="submit($event)">Add Product</button>
  </div>
</form>