:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 100%;
  overflow: auto;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px 0;
}

.container > *:not(:first-child) {
  margin-top: 20px;
}

.text {
  font-size: var(--font-size-medium);
}

.store-card {
  max-width: 400px;
  width: 100%;
}
